#welcome1 {
    font-family: 'Pacifico', cursive;
    font-size: 3em;
    text-align: center;
    color: red;
    font-stretch: ultra-expanded;
}
#welcome2{
    font-family: monospace;
    text-shadow: 2em;
    font-size: 2em;
    text-align: center;
    color: #00a;     
}













