#welcome1 {
    font-family: 'Pacifico', cursive;
    font-size: 3em;
    text-align: center;
    color: red;
    font-stretch: ultra-expanded;
}
#welcome2{
    font-family: monospace;
    text-shadow: 2em;
    font-size: 2em;
    text-align: center;
    color: #00a;     
}
div #devnote{
    background-color: deepskyblue;
    width: 100%;
    text-align: center;
    bottom: 0;
}
div#devnote > p {
    font-family: Tahoma;
    padding-bottom: 10px;
}
hr#line1{
    border-width: 2px;
    border-color: orangered;
}















